<main role="main" class="container">
 
    <div class="starter-template">
      <h1>Stateful</h1>
      <p class="lead">Ejemplo de componete stateful.</p>

      <div class="card-deck">
          <div class="card" *ngFor="let curso of shopModel.shopItems">
            <!-- le paso product como un parametro y le decimos que es curso, es decir, cuando él
            HAGA EL NGFOR tenemos el objeto curso, ese objeto curso, lo pasamos mediante una propiedad que es PRODUCT
            AL COMPONENTE SIN ESTADO -->
            <!-- el metodo (cursomatriculado)= "cursoMatriculado($event)", cursomatriculado es igual al metodo cursoMatriculado
            y que recibe como parámetro el evento, que es el producto en cuestion -->
            <app-stateless [product]="curso" (cursomatriculado)= "cursoMatriculado($event)"></app-stateless> <!-- y aqui llamamos al componente stateless -->
          </div>
      </div>
    </div>

    <!-- VISTA DE LA LISTA DE LOS PRODUCTOS EN EL CARRITO DE LA COMPRA -->
    <!-- CARRITO DE LA COMPRA -->
    <ul class="list-group">
      <li class="list-group-item disabled">Información matrícula</li>
      <li *ngFor="let boughtItem of boughtItems"
      class="list-group-item">{{boughtItem.title}} <!-- mostramos el elemento que se ha comprado con su titulo -->
      <span class="badge badge-primary badge-pill">{{boughtItem.price | currency:"&euro;"}}</span> <!-- mostramos el elemento que se ha comprado con su precio -->
    </li>
    <li class="list-group-item disabled"><h2>Total: {{finalPrice() | currency:"&euro;"}}</h2> <!-- mostramos el elemento el precio final, con el metodo finalPrice -->
    </li>
    </ul>
</main><!-- /.container -->
  
  
  



