<main role="main" class="container">
 
    <div class="starter-template">
      <h1>Stateful</h1>
      <p class="lead">Ejemplo de componete stateful.</p>

      <div class="card-deck">
          <div class="card" *ngFor="let curso of shopModel.shopItems">
            <!-- le paso product como un parametro y le decimos que es curso, es decir, cuando él
            HAGA EL NGFOR tenemos el objeto curso, ese objeto curso, lo pasamos mediante una propiedad que es PRODUCT
            AL COMPONENTE SIN ESTADO -->
            <!-- el metodo (cursomatriculado)= "cursoMatriculado($event)", cursomatriculado es igual al metodo cursoMatriculado
            y que recibe como parámetro el evento, que es el producto en cuestion -->
            <app-stateless [product]="curso" (cursomatriculado)= "cursoMatriculado($event)"></app-stateless> <!-- y aqui llamamos al componente stateless -->
          </div>
      </div>
    </div>
        <ul class="list-group">
            <li *ngFor="let boughtItem of boughtItems"
            class="list-group-item">{{boughtItem.title}}</li>
        </ul>
</main><!-- /.container -->
  
  <!-- VISTA DE LA LISTA DE LOS PRODUCTOS EN EL CARRITO DE LA COMPRA -->
  



