<!-- Button trigger modal copiamos el texto https://getbootstrap.com/docs/5.0/components/modal/ LIVE IN DEMO -->
<button *ngIf= "!isDisabled" (click)="showModal = true" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Confirmar compra</button>
  
  <!-- Modal -->
  <div class="modal fade" [ngClass]="{'show': showModal}" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Último paso</h5>
          <button (click)="showModal = false" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h4>Registro:</h4>
          <form>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Nombre:</label>
              <input type="text" class="form-control" id="recipient-name"/>
            </div>
            <div class="mb-3">
              <label for="recipient-lastname" class="col-form-label">Apellidos:</label>
              <input type="text" class="form-control" id="recipient-lastname"/>
            </div>
            <div class="mb-3">
              <label for="recipient-email" class="col-form-label">Email:</label>
              <input type="text" class="form-control" id="recipient-name"/>
            </div>
          </form>
        </div>
        <div class="modal-footer">
            <div><p>Todos los campos son obligatorios</p></div>
              <button (click)="showModal = false" type="button" class="btn btn-primary">Enviar</button>
        </div>
      </div>
    </div>
  </div>
